@import "../shared/appearance.rasi"

* { accent-color: #da702c; }

configuration {
    font:                "IBM Plex Sans 12";
    show-icons:          false;
    matching:            "fuzzy";
    kb-row-down:         "Down,Control+j";
    kb-row-up:           "Up,Control+k";
    kb-accept-entry:     "Return,KP_Enter";
    kb-remove-to-eol:    "Control+Shift+K";
}

window {
    width: 1000px;
}

listview {
    columns:      1;
    lines:        18;
    fixed-height: false;
    spacing:      4px;
}

element {
    padding: 6px 12px;
}

element-icon {
    size: 0;
}
