configuration {
    modi:                       "drun,run,window,emoji";
    show-icons:                 true;
    display-drun:               "";
    display-run:                " ";
    display-window:             " ";
    drun-display-format:        "{name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    window-format:              "{w} · {c} · {t}";

    calc {
        terse:         true;
        calc-command:  "notify-send {result}";
        hint-result:   "";
        hint-welcome:  "";
        transparency:  "real";
    }
}

@theme "launchers/app-launcher"
