layer-rule {
    match namespace="awww"
    place-within-backdrop true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="^Alacritty$"

    background-effect {
        blur true
    }
    default-column-width { fixed 735; }
}

window-rule {
    match app-id="^Alacritty-Float"

    background-effect {
        blur true
    }
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
    open-floating true
}

window-rule {
    match app-id="^rewrite-desktop$"

    background-effect {
        blur true
    }
    open-maximized-to-edges true
}

layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}

blur {
    // off
    passes 3
    offset 3
    noise 0.02
    saturation 1.5
}

window-rule {
    match app-id="Loupe"

    popups {
        geometry-corner-radius 15

        opacity 0.5

        background-effect {
            blur true
        }
    }
}

window-rule {
    match app-id="nautilus"

    popups {
        geometry-corner-radius 15

        opacity 0.8

        background-effect {
            blur true
        }
    }
}


window-rule {
    match app-id="helium-browser"

    popups {
        geometry-corner-radius 15

        opacity 0.8

        background-effect {
            blur true
        }
    }

    opacity 0.8

    background-effect {
        blur true
    }
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"^org\.telegram\.desktop$"#

    exclude title="^Media viewer$"

    open-maximized-to-edges true
}

window-rule {
    match app-id="dev.zed.Zed"

    background-effect {
        blur true
    }


    popups {
        geometry-corner-radius 15

        opacity 0.8

        background-effect {
            blur true
        }
    }
    open-maximized-to-edges true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
