* {
    /* `otf-font-awesome` is required to be installed for icons */
    margin: 0;
    font-family: FiraCodeNerdFontPropo;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(43, 59, 57, 0.5);
    border-radius: 20px;
    /* border-bottom: 3px solid  #C70039 ; */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ff085e;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #ff085e;
    transition-duration: .5s;
    color: #000000;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #ff085e;
    color: #000000;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ff085e;
}

#workspaces button.urgent {
    background-color: #46dd85;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-hardware,
#custom-lock,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

/* #window,
#workspaces {
    margin: 0 4px;
} */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid  #ff085e;
    background-color: #ff085e;
    color: #000000;
}

#battery {
    font-size: 14px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#battery.charging, #battery.plugged {
    color: #46dd85;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px;
    color: #fff0f5;
    margin: 0 5px;
    min-width: 16px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid  #ff085e;
    color:  rgb(27, 27, 27);;
    background-color: #ff085e;
}

#memory {
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 12px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#disk {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#backlight {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid  #ff085e;
    color: rgb(27, 27, 27);
    background-color: #ff085e;
}
#network {
    margin-left: 2px;
    /* margin-right: 2px; */ 
    padding-right: 12px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid  #ff085e;
    border-right: none;
    color: #fff0f5;
}

#network.disconnected {
    margin-left: 2px;
    /* margin-right: 2px; */
    padding-right: 12px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid  #ff085e;
    background-color: #ff085e;
    color: #000000;
}

#bluetooth {
    /* margin-left: 2px;  */
    margin-right: 2px;
    padding-right: 12px;
    border-radius: 10px;
    font-size: 18px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid  #ff085e;
    border-left: none;
    color: #fff0f5;
}

#pulseaudio {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#pulseaudio.muted {
    color: #f53c3c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: #1ED760;
    font-size: 16px;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #1ED760;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#temperature.critical {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 13px;
    border: 2px solid  #ff085e;
    color: #ff085e;
}

#tray {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}


#custom-power {
    /* margin-left: 10px; */
    color: #ff085e;
}

#custom-lock {
    margin-left: 10px;
    font-size: 18px;
    color: #ff085e;
}

#user {
    font-size: 16px;
}

#custom-hardware {
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 12px;
    border-radius: 10px;
    font-size: 18px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid  #ff085e;
    color: #fff0f5;

}

#custom-volume {
    padding: 0 10px;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

#custom-brightness {
    padding: 0 10px;
    border: 2px solid  #ff085e;
    color: #fff0f5;
}

/* Дополнительные стили для акцента, если нужно */
/* Например, можно выделить текст прогресс-бара */
#custom-volume .label {
    color: #ff085e;
}

#custom-brightness .label {
    color: #ff085e;
}
