@import url("themes/current.css");

* {
  font-family: "Noto Sans";
  font-size: 10pt;
  transition: 0.15s ease-in-out;
}

notificationwindow,
blankwindow {
  background: transparent;
}

.control-center {
  background: var(--cc-bg);
  border: 1px solid var(--noti-border-color);
  border-left: 5px solid var(--bg-selected);
  border-radius: 12px 0 0 12px;
  color: var(--text-color);
  padding: 8px;
  box-shadow: var(--notification-shadow);
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 6px 12px;
  background: transparent;
}

.notification-row .notification-background .notification {
  background: rgba(var(--noti-bg), var(--noti-bg-alpha));
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--text-color);
  box-shadow: var(--notification-shadow);
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action {
  background: transparent;
  color: var(--text-color);
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  padding: 4px;
}

.notification-row .notification-background .notification .notification-default-action:hover {
  background: var(--noti-bg-hover);
}

.notification-content {
  background: transparent;
  padding: 8px;
}

.summary,
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  background: transparent;
  color: var(--text-color);
  font-size: 11pt;
  font-weight: bold;
  text-shadow: none;
}

.body,
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  background: transparent;
  color: var(--text-color);
  opacity: 0.90;
  text-shadow: none;
}

.time,
.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  background: transparent;
  color: var(--text-color-disabled);
  font-size: 9pt;
  text-shadow: none;
}

.close-button {
  background: var(--noti-close-bg);
  color: var(--text-color);
  border-radius: 100%;
  margin: 8px;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  border: none;
  text-shadow: none;
  box-shadow: none;
}

.close-button:hover {
  background: var(--noti-close-bg-hover);
  color: @base08;
}

progress,
progressbar,
trough {
  border-radius: 12px;
  min-height: 6px;
}

trough {
  background: @base02;
}

.notification.critical progress {
  background: @base08;
}

.notification.low progress,
.notification.normal progress {
  background: @base0B;
}

.notification-action {
  color: var(--text-color);
  background: var(--noti-bg-darker);
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
  margin-top: 6px;
}

.notification-action:hover {
  background: var(--bg-selected);
  color: @base00;
}

.widget-title,
.widget-dnd,
.widget-mpris {
  background: var(--noti-bg-darker);
  border-radius: 12px;
  padding: 8px;
  margin: 8px 4px;
  border: var(--border);
  color: var(--text-color);
}

.widget-title > button {
  background: var(--noti-bg-hover);
  border: none;
  color: var(--text-color);
  border-radius: 8px;
  padding: 4px 12px;
}

.widget-title > button:hover {
  background: var(--bg-selected);
  color: @base00;
}

.widget-mpris .widget-mpris-player {
  background: transparent;
  padding: 0;
  border: none;
}

.widget-mpris .widget-mpris-player > box > button {
  border-radius: 100%;
  background: var(--noti-bg-hover);
  color: var(--text-color);
  margin: 0 4px;
  padding: 6px;
  border: none;
}

.widget-mpris .widget-mpris-player > box > button:hover {
  background: var(--bg-selected);
  color: @base00;
}

.widget-dnd > switch {
  background: var(--noti-bg-hover);
  border-radius: 12px;
  border: none;
}

.widget-dnd > switch:checked {
  background: @base0B;
}

.widget-dnd > switch slider {
  background: @base07;
  border-radius: 100%;
}
