@import "appearance.rasi"

configuration {
    show-icons: false;
}

window {
    width:            300px;
    border-radius:    @b-radius;
    background-color: @bg;
    border-color:     @accent-color;
}

mainbox {
    spacing:          20px;
    padding:          20px;
    background-color: transparent;
    children:         [ "message", "listview" ];
}

message {
    padding:          12px;
    border-radius:    @b-radius;
    background-color: @bg-alt;
}

textbox {
    background-color: inherit;
    text-color:       @fg;
    horizontal-align: 0.5;
    vertical-align:   0.5;
}

listview {
    columns:          2;
    lines:            1;
    cycle:            true;
    scrollbar:        false;
    spacing:          16px;
    fixed-height:     true;
    fixed-columns:    true;
    background-color: transparent;
}

element {
    padding:          16px 10px;
    border-radius:    @b-radius;
    background-color: @bg-alt;
    text-color:       @fg;
    cursor:           pointer;
}

element selected.normal {
    background-color: @accent-color;
    text-color:       @bg-solid;
    border:           0px solid;
}

element-text {
    horizontal-align: 0.5;
    vertical-align:   0.5;
    text-color:       inherit;
    background-color: transparent;
    font:             "IBM Plex Sans 14";
}

inputbar   { enabled: false; }
prompt     { enabled: false; }
entry      { enabled: false; }
