@import url("../themes/kanagawa.css");

* {
    font-family: "FiraCodeNerdFontPropo", FontAwesome, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
  background-color: rgba(62, 62, 62, 0.27);
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar > box {
  padding: 5px 0;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 10px;
}

button:hover {
    background-color: @foreground;
    box-shadow: inset 0 -3px @foreground;
}

#workspaces {
  margin-left: 10px;
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
}

#workspaces button {
  border-radius: 10px;
  color: inherit;
  background-color: transparent;
  transition: 0.5s ease-out;
}

#workspaces button:hover {
  background: @foreground;
  color: @background;
}

#workspaces button.active {
  background-color: @foreground-dark;
  color: @background;
}

#workspaces button.active:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
#workspaces button.active:nth-last-child(1) {
  border-radius: 0 10px 10px 0;
}

#workspaces button.urgent {
  border-bottom: 2px solid @orange;
  border-radius: 0;
}

#workspaces button.urgent:nth-child(1) {
  border-bottom: 2px solid @orange;
  border-radius: 10px 0 0 10px;
}

#workspaces button.urgent:nth-last-child(1) {
  border-bottom: 2px solid @orange;
  border-radius: 0 10px 10px 0;
}


#custom-media {
    color: @spotify;
    font-size: 16px;
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#time {
  border-radius: 10px;
  font-weight: 700;
  background-color: @background;
  color: @foreground;
}

#clock.simple {
  padding: 6px 10px;
  background-color: @foreground-dark;
  color: @background;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
}

#clock {
  padding: 6px 10px;
  border-radius: 10px 0 0 10px;
}

#tray {
    padding-right: 8px;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  background-color: @red;
  color: @background;
}

#pulseaudio,
#network,
#bluetooth,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#backlight,
#language {
  padding: 6px 12px;
  margin: 0 1px; 
  font-weight: 700;
  color: @foreground;
  background-color: @background;
  border-radius: 10px;
}

#battery.warning {
  background-color: @orange;
  color: @background;
}

#battery.charging {
  background-color: @power;
  color: @background;
}

#network.disconnected {
  background-color: @red;
  color: @background;
}

#pulseaudio.muted,
#bluetooth.disabled,
#bluetooth.off {
  color: @foreground-dark; 
}

tooltip {
  background-color: @background;
  border: 1px solid @overlay;
  border-radius: 10px;
}

tooltip label {
  color: @foreground;
  padding: 8px;
}

.drawer {
    padding: 0px 5px;
    margin: 3px 0px;
}

.drawer:hover {
    background-color: #4a4646;
}
