@define-color background #16161D;
@define-color foreground #e3d3ac;
@define-color foreground-dark #e3d3ac;
@define-color power #67C090;
@define-color red #C34043;
@define-color orange #FF9E3B;
@define-color overlay #2A2A37;
@define-color spotify #67C090;
